<div class='jumbotron center'>
	<% if user_signed_in? %>
		<h1>:)</h1>
	<% else %>
		<h1>Get me out by signing up!!!</h1>
	<% end %>

	   <% if user_signed_in? %>
	   	<div class='center'>
          		<img src='http://i1015.photobucket.com/albums/af276/Brendan_Miranda/littlebear_zps5ceca1c0.jpg' alt='little bear free' />
         </div>
          <p>Thanks for letting me out!!</p>
     <% else %>
 	<p> 
 		<% link_to 'Log in', new_user_session_path, class: 'btn btn-default btn-lg' %>
		<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
	</p>
	<% end %> 
	<br>
	<br>
	<% if user_signed_in? %>
		<% else %>
			<img src="http://i1015.photobucket.com/albums/af276/Brendan_Miranda/10671243_10201924727718294_7678339325058970242_n_zps4fab0eb0.jpg" alt="indian in the cupboard" height="250" width="250"/>
	<% end %>
</div>