<div class='jumbotron center'>
	<h1>Welcome to my app</h1>
	<%= link_to 'Log in','#', class: 'btn btn-default btn-lg' %>
	<%= link_to 'Sign up','#', class: 'btn btn-primary btn-lg' %>
	<br>
	<br>
	<img src="http://i1015.photobucket.com/albums/af276/Brendan_Miranda/10671243_10201924727718294_7678339325058970242_n_zps4fab0eb0.jpg" alt="indian in the cupboard" height="280" width="280"/>
</div>